altgraph==0.17
asgiref==3.3.4
auto-py-to-exe==2.9.0
beautifulsoup4==4.10.0
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2021.5.30
chardet==3.0.4
charset-normalizer==2.0.3
click==8.0.1
coverage==4.0.3
cycler==0.10.0
defusedxml==0.7.1
Django==3.2
django-allauth==0.22.0
django-cors-headers==3.8.0
django-crispy-forms==1.13.0
django-soft-delete==0.9.18
django-taggit==1.2.0
django-utils-six==2.0
djangorestframework==3.12.4
Eel==0.12.4
ffmpeg-python==0.2.0
Flask==2.0.1
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
heroku==0.1.4
html5lib==1.1
idna==2.8
itsdangerous==2.0.1
Jinja2==3.0.1
kiwisolver==1.3.1
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.4.2
numpy==1.21.0
oauthlib==3.1.1
opencv-python==4.5.4.58
panda==0.3.1
pandas==1.3.2
patsy==0.5.1
Pillow==8.2.0
pyinstaller==4.4
pyinstaller-hooks-contrib==2021.2
PyJWT==2.1.0
PyMySQL==1.0.2
pyparsing==2.4.7
python-dateutil==1.5
python3-openid==3.2.0
pytz==2021.1
requests==2.21.0
requests-oauthlib==1.3.0
scipy==1.7.1
sgrequests==0.0.1
six==1.16.0
soft-delete==0.2.2
soupsieve==2.3.1
sqlparse==0.4.1
statsmodels==0.12.2
tornado==4.5.3
urllib3==1.24.3
webencodings==0.5.1
Werkzeug==2.0.1
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
