{% include "header.html" %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Permission</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h1 class="card-title">{{ role_list }} Permissions List</h1>
                               
                                <button type="button" class="btn btn-primary addPermission" style="float: right;">Add Permission</i></button>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="permission" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Assign</th>
                                    <th>Permission</th>
                                    <th>Method</th>
                                    <th>Created_on</th>
                                    <th>Updated_on</th>
                                </tr>
                                </thead>
                                
                                <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Assign</th>
                                    <th>Permission</th>
                                    <th>Method</th>
                                    <th>Created_on</th>
                                    <th>Updated_on</th>
                                </tr>
                                </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div class="modal" id="permissionPopup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Add Permission</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" id="permission" method="POST">{% csrf_token %}
                        <div id="alertdiv" class="alert" style="display:none;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <p></p>
                        </div>
                        <div class="form-group">  
                            <label class="col-sm-2 col-form-label">Permission: </label> 
                                <div class="col-sm-12">  
                                    <input type="text" class="form-control" id="name" placeholder="Enter permission" value="" required>
                                </div>  
                        </div>  
                        <div class="form-group">  
                            <label class="col-sm-2 col-form-label">Method: </label> 
                                <div class="col-sm-12">  
                                    <input type="text" class="form-control" id="method" placeholder="Enter method" value="" required>
                                </div>  
                        </div>  
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="addPermission">Submit</button>
                    <button class="btn btn-primary" type="button" id="updatePermission" style="display:none;">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% include "footer.html" %}

<script>
    console.log(JSON.stringify("{{rolepermissions}}"));
    $(function () {
        $('#permission').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: "{% url 'listassignpermission' %}",
                type: "GET",
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            "columns": [
                {mdata: "id", data: "id"},
                {
                    mData: null,
                    bSortable: false,
                    mRender: function ({id}) 
                    { 
                        return `<label class="switch"><input type="checkbox" id="assign" data-id="${id}"><span class="slider round"></span></label>`;
                    }
                },
                {mdata: "permission", data: "permission"},
                {mdata: "method", data: "method"},
                {mdata: "created_on", data: "created_on"},
                {mdata: "updated_on", data: "updated_on"},
            ]
        });
        
        $("body").on('click', '#assign', function(){
            id = $(this).attr('data-id');
            const role_id = "{{ role_id }}";            
            $.ajax({
                url: "{% url 'editassignpermission' %}",
                type: 'POST',
                data: {
                    role_id : role_id,
                    permission_id : id,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(data, status, xhr)
                {
                    // toastr.success('Successfully, add permision.')
                },
            });
        });
    });
</script>