{% include "header.html" %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Permission</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h1 class="card-title">{{ rolename }} Permissions List</h1>
                                
                                <button type="button" class="btn btn-primary addPermission" style="float: right; margin:1px;">Add Permission</i></button>
                                
                                <button class="btn btn-primary" type="button" id="muladdPermission" style="display:none; float: right; margin:1px;">Add Multiple Permission</button>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="permissions" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th style="text-align: center; width: 45px;"><button type="button" class="btn btn-default btn-sm checkbox-toggle allchk" onclick="myFunction()"><i class="far fa-square"></i></button></th>
                                    <th>Id</th>
                                    <th>Status</th>
                                    <th>Permission</th>
                                    <th>Method</th>
                                    <th>Created on</th>
                                    <th>Updated on</th>
                                </tr>
                                </thead>
                                
                                <tfoot>
                                <tr>
                                    <th style="text-align: center; width: 45px;"><button type="button" class="btn btn-default btn-sm checkbox-toggle allchk" onclick="myFunction()"><i class="far fa-square"></i></button></th>
                                    <th>Id</th>
                                    <th>Status</th>
                                    <th>Permission</th>
                                    <th>Method</th>
                                    <th>Created on</th>
                                    <th>Updated on</th>
                                </tr>
                                </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div class="modal" id="permissionPopup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Add Permission</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" id="permission" method="POST">{% csrf_token %}
                        <div id="alertdiv" class="alert" style="display:none;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <p></p>
                        </div>
                        <div class="form-group">  
                            <label class="col-sm-2 col-form-label">Permission: </label> 
                                <div class="col-sm-12">  
                                    <input type="text" class="form-control" id="name" placeholder="Enter permission" value="" required>
                                </div>  
                        </div>  
                        <div class="form-group">  
                            <label class="col-sm-2 col-form-label">Method: </label> 
                                <div class="col-sm-12">  
                                    <input type="text" class="form-control" id="method" placeholder="Enter method" value="" required>
                                </div>  
                        </div>  
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="addPermission">Submit</button>
                    <button class="btn btn-primary" type="button" id="updatePermission" style="display:none;">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% include "footer.html" %}

<script>
    $(document).ready(function() {
        const role_id = "{{ roles }}";
        $('#permissions').DataTable({
            aLengthMenu: [[10, 20, 50, 75, -1], [10, 20, 50, 75, "All"]],
            dom: 'Bflrtip',
            buttons: ["copy", "csv", "excel", "pdf"],
            processing: true,
            serverSide: true,
            order: [],
            ajax: {},
            columns: [
                {mdata: "id", data: "id"},
                {mdata: "id", data: "all_permission_id"},
                {mdata: "id", data: "id"},
                {mdata: "permission", data: "permission"},
                {mdata: "method", data: "method"},
                {mdata: "created_on", data: "create_date"},
                {mdata: "updated_on", data: "update_date"},
            ],
            columnDefs: [
                {
                    targets: 0,
                    orderable: false,
                    render: function (data, type, full, meta) {
                        return `<div style="text-align:center;"><input type="checkbox" class="allchk" name="allchk[]" value="${full.all_permission_id}" data-id="${full.all_permission_id}" onchange="myFunction()"></div>`;
                    }
                },
                {
                    targets: 2,
                    orderable: false,
                    render: function (data, type, full, meta) {
                        return `<label class="switch"><input type="checkbox" id="assign" ${full.permission_id ? "checked": ""} data-id="${full.all_permission_id}"}"><span class="slider round"></span></label>`;
                    }
                },
                {
                    targets: 5,
                    render: function (data, type, full, meta) {
                        var options = {month:"short", day:"numeric", year:"numeric", hour:"numeric",  minute:"numeric", second:"numeric"};
                        return new Date(full.create_date).toLocaleDateString("en-US", options)
                    }
                },
                {
                    targets: 6,
                    render: function (data, type, full, meta) {
                        var options = {month:"short",day:"numeric",year:"numeric",hour:"numeric",minute:"numeric",second:"numeric"};
                        return new Date(full.update_date).toLocaleDateString("en-US", options)
                    }
                },
            ]
        })

        $("body").on('click', '.addPermission', function(){
            $("#permissionPopup").modal('show');
        });

        $("body").on('click', '#addPermission', function(){
            permission = $("#name").val();
            method = $("#method").val();
            $.ajax({
                url: "{% url 'permission' %}",
                type: "POST",
                data: {
                    permission: permission,
                    method: method,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function(data, status, xhr)
                {
                    $('#permissions').DataTable().ajax.reload( null, false );
                    $("#permission")[0].reset();
                    $("#permissionPopup").modal('hide');
                },
            });
        }); 

        $("body").on('click', '#assign', function(){
            id = $(this).attr('data-id'); 
            let url = "";
            let type = "";
            if($(this).prop("checked") == false){
                console.log("Checked", "remove");
                url = "{% url 'deleteassignpermission' %}";
                type = 'GET';
            } 
            else if($(this).prop("checked") == true){
                console.log("unChecked", "add");
                url = "{% url 'editassignpermission' %}";
                type = 'POST';
            }      
            $.ajax({
                url: url,
                type: type,
                data: {
                    role_id : role_id,
                    permission_id : id,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(data, status, xhr)
                {
                    toastr.success('Permission Status change successfully.')
                },
            });
        });
    
        $('.checkbox-toggle').click(function () {
            var clicks = $(this).data('clicks')
            if (clicks) {
                //Uncheck all checkboxes
                $('.card-body input[class=\'allchk\']').prop('checked', false)
                $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
            } else {
                //Check all checkboxes
                $('.card-body input[class=\'allchk\']').prop('checked', true)
                $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
            }
            $(this).data('clicks', !clicks)
        })

        $("body").on('click', '#muladdPermission', function(){
            var permission_id = [];
            $.each($("input[name='allchk[]']:checked"), function(){
                permission_id.push($(this).val());
            });
            console.log(permission_id);
            $.ajax({
                url: "{% url 'bulkeditassignpermission' %}",
                type: 'POST',
                data: {
                    role_id : role_id,
                    permission_id : permission_id,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(data, status, xhr)
                {
                    $('#permissions').DataTable().ajax.reload( null, false );
                },
            });
        });   
    });
    function myFunction(){
        $("#muladdPermission").show();  
    }
</script>