{% include "header.html" %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h1 class="card-title">Product</h1>
                <button type="button" class="btn btn-primary addProduct" style="float: right;">Add Product</i></button>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="products" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Created_on</th>
                    <th>Updated_on</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  
                  <tfoot>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Created_on</th>
                    <th>Updated_on</th>
                    <th>Action</th>
                  </tr>
                  </tfoot>
                </table>
            </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <div class="modal" id="productPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Add Product</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" id="product" method="POST">{% csrf_token %}
            <div id="alertdiv" class="alert" style="display:none;">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <p></p>
            </div>
            <div class="form-group row">  
              <label class="col-sm-2 col-form-label">Name: </label> 
                <div class="col-sm-8">  
                  <input type="text" id="name" placeholder="Enter product name" value="" required>
                </div>  
            </div>  
          </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="addProduct">Submit</button>
            <button class="btn btn-primary" type="button" id="updateProduct" style="display:none;">Update</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% include "footer.html" %}

<script>
  $(function () {
    $('#products').DataTable({
      "processing": true,
      "serverSide": true,
      "ajax": {
        url: "{% url 'listproduct' %}",
        type: "GET",
        csrfmiddlewaretoken: "{{ csrf_token }}"
      },
      "columns": [
        {mdata: "id", data: "id"},
        {mdata: "pro_name", data: "pro_name"},
        {mdata: "created_on", data: "created_on"},
        {mdata: "updated_on", data: "updated_on"},
        {
          mData: null,
          bSortable: false,
          mRender: function ({id}) 
          { 
            return `<button type="button" class="btn btn-primary" id="editProduct" data-id="${id}"><i class="nav-icon fas fa-pen"></i></button> <button type="button" class="btn btn-danger" id="deleteProduct" data-id="${id}"><i class="nav-icon fas fa-trash"></button>`;
          }
        },
      ]
    });

    $("body").on('click', '.addProduct', function(){
      $("#productPopup").modal('show');
    });

    $("#addProduct").click(function(){
      pname = $("#name").val();
      $.ajax({
        url: "{% url 'product' %}",
        type: "POST",
        data: {
          pname: pname,
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function(data, status, xhr)
        {
          $('#products').DataTable().ajax.reload(null, false);
          $("#product")[0].reset();
          $("#productPopup").modal('hide');
        },
        error: function(jqXHR, textStatus, errorThrown){
          console.log(e);
        }
      });
    }); 

    $("body").on('click', '#editProduct', function(){
      id = $(this).attr('data-id');
      $.ajax({
        url: "{% url 'editproduct' %}",
        type: 'GET',
        data: {
            'product_id' : id,
        },
        success: function(data, status, xhr)
        {
          $('#name').val(data.pro_name);
          $("#productPopup").modal('show');
          $(".modal-title").replaceWith("<h2>Edit Product</h2>");
          $("#updateProduct").show();
          $("#addProduct").hide();
        },
      });
    });

    $("#updateProduct").click(function(){
      pname = $("#name").val();

      $.ajax({
        url: "{% url 'editproduct' %}",
        type: "POST",
        data: {
          product_id: id,
          pname: pname,
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function(data, status, xhr)
        {
          $('#products').DataTable().ajax.reload( null, false );
          $("#product")[0].reset();
          $("#productPopup").modal('hide');
        },
      });
    });

    $("body").on('click', '#deleteProduct', function(){
      id = $(this).attr('data-id');
      var isconfirm = confirm('Are you sure you want to delete product?');
      if(isconfirm)
      {
        $.ajax({
          url: "{% url 'deleteproduct' %}",
          type: 'GET',
          data: {
            product_id : id,
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function(data, status, xhr)
          {
            $('#products').DataTable().ajax.reload( null, false );
          },
        });  
      }
    });
  });
</script>